body {
  background-color: black;
  /*overflow: hidden;*/
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */

}
.wrapper {
    width: 90vw;
    margin: 40px auto 0 auto;
}

.risorsa,.trasparente {
    display: inline-block;
    width: 22vw;
    padding: 3vh 0;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 140px;
    font-weight: 400;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    cursor: default;
    /*
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    */
}

.trasparente {
    opacity: 0;
}

#legno {
    color: #824200;
}

#argilla {
    color: red;
}

#canna {
    color: #daa520;
}

#pietra {
    color: #000000;
}

#grano {
  color: #FFFF00; 
}
#ortaggio {
  color: #ffa420; 
}
#cibo {
  color: #00C200;
}

#pecora, #cinghiale, #bestiame {
    color: #FF3300; /*#4285F4;*/
}

#buttonRisorsa {
    width: 5vw;
    height: 5vw;
    margin-left: 85vw;  
}

.zero {
    background-color: white;
}

.somma {
    background-color: orange;
}

.sottrai {
    background-color: red;
}

.tabellone {
    margin-top: 20vh;
    margin-left: auto;
    margin-right: auto;
    width: 108vh;
}

table {
   border-collapse: collapse;
}

td {
    padding: 0;
}

table#t01 td {
    border: 0;
}

.largo {
   height: 2vh;
   background-color: black;
}

.largo_nero {
   height: 2vh;
   background-color: white;
}

.stretto {
   height: 3vh;
   width: 3vh;
   background-color: black;
}

.grano_3, .grano2, .grano_1, .ortaggio2, .ortaggio1, .stanza, .stanza_argilla, .stanza_pietra, .stalla, .campo, .pascolo, .spazio {
  width: 16vh;
  height: 16vh;
}

.spazio {
    background-color: #333333;
}

.stalla {
    background-color: #065535;
    background-image: radial-gradient(#ffffff, #ffffff, #333333, #333333, #333333, #333333, #333333, #333333, #333333, #333333);
}

.stanza {
    background-color: #065535;
    background-image: radial-gradient(#824200, #000000);
}

.stanza_argilla {
    background-color: #065535;
    background-image: radial-gradient(red, #000000);
}

.stanza_pietra {
    background-color: #065535;
    background-image: radial-gradient(grey, #000000);
}

.campo {
    background-color: #065535;
}

.pascolo {
    background-color: #00C200;
}

.grano_3 {
    background-color: #065535;
    background-image: radial-gradient(#FFFF00, #FFFF00, #FFFF00, #FFFF00, #FFFF00, #FFFF00, #065535, #065535, #065535, #065535);
}

.grano_2 {
    background-color: #065535;
    background-image: radial-gradient(#FFFF00, #FFFF00, #FFFF00, #FFFF00, #065535, #065535, #065535, #065535, #065535, #065535);
}

.grano_1 {
    background-color: #065535;
    background-image: radial-gradient(#FFFF00, #FFFF00, #065535, #065535, #065535, #065535, #065535, #065535, #065535, #065535);
}

.ortaggio_2 {
    background-color: #065535;
    background-image: radial-gradient(#fa8072, #fa8072, #fa8072, #fa8072, #065535, #065535, #065535, #065535, #065535, #065535);
}

.ortaggio_1 {
    background-color: #065535;
    background-image: radial-gradient(#fa8072, #fa8072, #065535, #065535, #065535, #065535, #065535, #065535, #065535, #065535);
}

#controllo {
    position: absolute;
    width: 5vw;
    height: 5vw;
    margin-left: 90vw;
    /*margin-bottom: 6vw;*/
    /*border: solid 1vh red;*/
}

.standard {
    background-color: white;
 }

.steccati {
    background-color: red;
}

.edilizia {
    background-color: orange;
}
