body {
  background-color: black;
  /*overflow: hidden;*/
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */

}
.wrapper {
    width: 90vw;
    margin: 40px auto 0 auto;
}

.risorsa,.trasparente {
    display: inline-block;
    width: 22vw;
    padding: 3vh 0;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 140px;
    font-weight: 400;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    cursor: default;
    /*
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    */
}

.trasparente {
    opacity: 0;
}

#legno {
    color: #824200;
}

#argilla {
    color: red;
}

#canna {
    color: #daa520;
}

#pietra {
    color: #000000;
}

#grano {
  color: #FFFF00; 
}
#ortaggio {
  color: #ffa420; 
}
#cibo {
  color: #00C200;
}

#pecora, #cinghiale, #bestiame {
    color: #FF3300; /*#4285F4;*/
}

#buttonRisorsa {
    width: 5vw;
    height: 5vw;
    margin-left: 85vw;  
}

.zero {
    background-color: white;
}

.somma {
    background-color: orange;
}

.sottrai {
    background-color: red;
}

.tabellone {
    margin-top: 20vh;
    margin-left: auto;
    margin-right: auto;
    width: 108vh;
}

table {
   border-collapse: collapse;
}

td {
    padding: 0;
}

.largo {
   height: 2vh;
   background-color: black;
}

.largo_nero {
   height: 2vh;
   background-color: white;
}

.stretto {
   height: 3vh;
   width: 3vh;
   background-color: black;
}

.grano_3, .grano2, .grano_1, .ortaggio2, .ortaggio1, .stanza, .stanza_argilla, .stanza_pietra, .stalla, .campo, .pascolo, .spazio {
  width: 16vh;
  height: 8vh;
}

.spazio {
    background-color: black;
}

.pascolo {
    background-color: #00C200;
}

#controllo {
    position: absolute;
    width: 5vw;
    height: 5vw;
    margin-left: 90vw;
    /*margin-bottom: 6vw;*/
    /*border: solid 1vh red;*/
}

.standard {
    background-color: white;
 }

.steccati {
    background-color: red;
}

.edilizia {
    background-color: orange;
}

.stalla .i1 {
    fill: SeaGreen;
    stroke-width: 1;
    stroke: white;
}

.stanza .i1 {
    fill: #824200;
}
.stanza .i2 {
  fill: #9C661F;
}

.stanza_argilla .i1 {
  fill: red;
}
.stanza_argilla .i2 {
  fill: #ff4040;
}

.stanza_pietra .i1 {
  fill: #2F4F4F;
}
.stanza_pietra .i2 {
  fill: #8E8E8E;
}

.stanza .i3, .stanza_argilla .i3, .stanza_pietra .i3 {
  fill: #696969;
}
.stanza .i4, .stanza_argilla .i4, .stanza_pietra .i4 {
    fill: #824200;
}

.campo .i3, .grano_3 .i3, .grano_2 .i3, .grano_1 .i3, .ortaggio_1 .i3, .ortaggio_2 .i3 {
    stroke-width: 1;
    stroke: black;
}

.campo .i1, .grano_3 .i1, .grano_2 .i1, .grano_1 .i1, .ortaggio_1 .i1, .ortaggio_2 .i1 {
    fill: maroon;
}

.grano_3, .grano_2, .grano_1 .i2 {
    fill: yellow;
    stroke-width: 1;
    stroke: black;
}

.ortaggio_1, .ortaggio_2 .i2 {
    fill: darkorange;
    stroke-width: 1;
    stroke: black;
}
